<app-title [subtitle]="subtitle"></app-title>
<nav>
  <a routerLink="contact" routerLinkActive="active">Contact</a>
  <a routerLink="crisis"  routerLinkActive="active">Crisis Center</a>
  <a routerLink="heroes"  routerLinkActive="active">Heroes</a>
  <!-- <a routerLink="/dashboard">Dashboard</a> -->
  <!-- <a routerLink="/HeroInteract">Hero interaction</a>
  <a routerLink="/NameInteract">Name interaction</a>
  <a routerLink="/VersionInteract">VersionInteract</a> -->
</nav>
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
